In [1]:
import pandas as pd
import numpy as np

In [45]:
df=pd.read_csv('MentalHealthSurvey.csv')

In [3]:
df.head()

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment
2,Male,20,FAST,Undergraduate,Computer Science,3rd year,2.5-3.0,Off-Campus,No,1-3 times,...,5,5,5,3,4,2,3,3,1,"Religious Activities, Sports and Fitness, Onli..."
3,Male,20,UET,Undergraduate,Computer Science,3rd year,2.5-3.0,On-Campus,No,No Sports,...,3,5,4,4,1,5,5,5,3,Online Entertainment
4,Female,20,UET,Undergraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,Yes,No Sports,...,3,5,5,2,3,5,5,4,4,Online Entertainment

In [4]:
cat_cols=[]
num_cols=[]
for col in df.columns:
    if df[col].dtype=='object':
        cat_cols.append(col)
    else:
        num_cols.append(col)

In [5]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [47]:
df['gender'] = df['gender'].apply(lambda x: 1 if x == 'Male' else 0)

In [7]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder

In [8]:
from sklearn.preprocessing import OneHotEncoder
le = LabelEncoder()
ohe = OneHotEncoder()
oe = OrdinalEncoder()

In [9]:
cat_cols.remove('gender')

In [10]:
cat_cols

['university',
 'degree_level',
 'degree_major',
 'academic_year',
 'cgpa',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep',
 'stress_relief_activities']

In [11]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from scipy.sparse import issparse

# Create OHE and LE instances
ohe = OneHotEncoder()
le = LabelEncoder()

# Iterate over categorical columns
for col in df[cat_cols]:
    # Check if column is in the list of columns to be OHE
    if col in ['university', 'degree_major', 'residential_status']:
        # Fit and transform the column using OHE
        encoded_col = ohe.fit_transform(df[[col]])
        if issparse(encoded_col):
            # Convert to dense array if it's sparse
            encoded_col = encoded_col.toarray()
        df[col] = encoded_col
    # Check if column is "campus_discrimination"
    elif col == "campus_discrimination":
        # Fit and transform the column using LE
        df[col] = le.fit_transform(df[[col]])
    # For other categorical columns
    else:
        # Fit and transform the column using OHE (or LE if appropriate)
        encoded_col = oe.fit_transform(df[[col]])
        if issparse(encoded_col):
            # Convert to dense array if it's sparse
            encoded_col = encoded_col.toarray()
        df[col] = encoded_col

/Applications/anaconda3/envs/studentMH/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,1,20,0.0,1.0,0.0,1.0,4.0,1.0,0,3.0,...,5,4,5,4,3,2,1,1,2,16.0
1,1,20,0.0,0.0,1.0,2.0,4.0,1.0,0,0.0,...,5,4,4,1,3,3,3,3,4,4.0

In [13]:
df1 = pd.read_csv('MentalHealthSurvey.csv')

In [14]:
df1[cat_cols].nunique()-df[cat_cols].nunique()

university                  7
degree_level                0
degree_major                2
academic_year               0
cgpa                        0
residential_status          0
campus_discrimination       0
sports_engagement           0
average_sleep               0
stress_relief_activities    0
dtype: int64

In [15]:
df1[cat_cols].nunique(),df[cat_cols].nunique()

(university                   9
 degree_level                 2
 degree_major                 4
 academic_year                4
 cgpa                         6
 residential_status           2
 campus_discrimination        2
 sports_engagement            4
 average_sleep                3
 stress_relief_activities    38
 dtype: int64,
 university                   2
 degree_level                 2
 degree_major                 2
 academic_year                4
 cgpa                         6
 residential_status           2
 campus_discrimination        2
 sports_engagement            4
 average_sleep                3
 stress_relief_activities    38
 dtype: int64)

In [16]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [17]:
df1['university']=le.fit_transform(df1['university'])

In [18]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,4,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,5,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [19]:
df1['university'].nunique()

9

In [20]:
df1['university'].value_counts()

university
4    56
5    10
0     9
1     6
6     2
3     1
8     1
7     1
2     1
Name: count, dtype: int64

In [24]:
df1.columns

Index(['gender', 'age', 'university', 'degree_level', 'degree_major',
       'academic_year', 'cgpa', 'residential_status', 'campus_discrimination',
       'sports_engagement', 'average_sleep', 'study_satisfaction',
       'academic_workload ', 'academic_pressure', 'financial_concerns',
       'social_relationships', 'depression', 'anxiety', 'isolation',
       'future_insecurity', 'stress_relief_activities'],
      dtype='object')

In [25]:
df1.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64

In [37]:
cd = ['degree_level','degree_major','academic_year']

for col in cd:
    df1[col]=le.fit_transform(df1[col])

In [38]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,4,1,1,1,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,5,0,0,2,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [40]:
df1.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64

In [42]:
cat_cols.remove('stress_relief_activities')

In [43]:
cat_cols

['university',
 'degree_level',
 'degree_major',
 'academic_year',
 'cgpa',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep']

In [48]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,1,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,1,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [53]:
df['gender'].value_counts()

gender
1    63
0    24
Name: count, dtype: int64

In [54]:
for col in cat_cols:
    df[col]=le.fit_transform(df[col])

In [55]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,1,20,4,1,1,1,4,0,0,3,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,1,20,5,0,0,2,4,0,0,0,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [56]:
df.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64