In [1]:
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv('/Users/bhikipallai/Desktop/Projects/Student_Mental_Health/Student_Mental_Health/data/MentalHealthSurvey.csv')

In [3]:
df.head()

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment
2,Male,20,FAST,Undergraduate,Computer Science,3rd year,2.5-3.0,Off-Campus,No,1-3 times,...,5,5,5,3,4,2,3,3,1,"Religious Activities, Sports and Fitness, Onli..."
3,Male,20,UET,Undergraduate,Computer Science,3rd year,2.5-3.0,On-Campus,No,No Sports,...,3,5,4,4,1,5,5,5,3,Online Entertainment
4,Female,20,UET,Undergraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,Yes,No Sports,...,3,5,5,2,3,5,5,4,4,Online Entertainment

In [43]:
df['cgpa'].unique

<bound method Series.unique of 0     3.0-3.5
1     3.0-3.5
2     2.5-3.0
3     2.5-3.0
4     3.0-3.5
       ...
82    3.0-3.5
83    3.5-4.0
84    2.0-2.5
85    2.5-3.0
86    3.5-4.0
Name: cgpa, Length: 87, dtype: object>

In [4]:
cat_cols=[]
num_cols=[]
for col in df.columns:
    if df[col].dtype=='object':
        cat_cols.append(col)
    else:
        num_cols.append(col)

In [5]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [6]:
df['gender'] = df['gender'].apply(lambda x: 1 if x == 'Male' else 0)

In [7]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder

In [8]:
from sklearn.preprocessing import OneHotEncoder
le = LabelEncoder()
ohe = OneHotEncoder()
oe = OrdinalEncoder()

In [9]:
cat_cols.remove('gender')

In [10]:
cat_cols

['university',
 'degree_level',
 'degree_major',
 'academic_year',
 'cgpa',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep',
 'stress_relief_activities']

In [11]:
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder
# from scipy.sparse import issparse

# # Create OHE and LE instances
# ohe = OneHotEncoder()
# le = LabelEncoder()

# # Iterate over categorical columns
# for col in df[cat_cols]:
#     # Check if column is in the list of columns to be OHE
#     if col in ['university', 'degree_major', 'residential_status']:
#         # Fit and transform the column using OHE
#         encoded_col = ohe.fit_transform(df[[col]])
#         if issparse(encoded_col):
#             # Convert to dense array if it's sparse
#             encoded_col = encoded_col.toarray()
#         df[col] = encoded_col
#     # Check if column is "campus_discrimination"
#     elif col == "campus_discrimination":
#         # Fit and transform the column using LE
#         df[col] = le.fit_transform(df[[col]])
#     # For other categorical columns
#     else:
#         # Fit and transform the column using OHE (or LE if appropriate)
#         encoded_col = oe.fit_transform(df[[col]])
#         if issparse(encoded_col):
#             # Convert to dense array if it's sparse
#             encoded_col = encoded_col.toarray()
#         df[col] = encoded_col

In [12]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,1,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,1,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [14]:
df1 = pd.read_csv('/Users/bhikipallai/Desktop/Projects/Student_Mental_Health/Student_Mental_Health/data/MentalHealthSurvey.csv')

In [15]:
df1[cat_cols].nunique()-df[cat_cols].nunique()

university                  0
degree_level                0
degree_major                0
academic_year               0
cgpa                        0
residential_status          0
campus_discrimination       0
sports_engagement           0
average_sleep               0
stress_relief_activities    0
dtype: int64

In [16]:
df1[cat_cols].nunique(),df[cat_cols].nunique()

(university                   9
 degree_level                 2
 degree_major                 4
 academic_year                4
 cgpa                         6
 residential_status           2
 campus_discrimination        2
 sports_engagement            4
 average_sleep                3
 stress_relief_activities    38
 dtype: int64,
 university                   9
 degree_level                 2
 degree_major                 4
 academic_year                4
 cgpa                         6
 residential_status           2
 campus_discrimination        2
 sports_engagement            4
 average_sleep                3
 stress_relief_activities    38
 dtype: int64)

In [17]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [18]:
df1['university']=le.fit_transform(df1['university'])

In [19]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,4,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,5,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [20]:
df1['university'].nunique()

9

In [21]:
df1['university'].value_counts()

university
4    56
5    10
0     9
1     6
6     2
3     1
8     1
7     1
2     1
Name: count, dtype: int64

In [22]:
df1.columns

Index(['gender', 'age', 'university', 'degree_level', 'degree_major',
       'academic_year', 'cgpa', 'residential_status', 'campus_discrimination',
       'sports_engagement', 'average_sleep', 'study_satisfaction',
       'academic_workload ', 'academic_pressure', 'financial_concerns',
       'social_relationships', 'depression', 'anxiety', 'isolation',
       'future_insecurity', 'stress_relief_activities'],
      dtype='object')

In [23]:
df1.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64

In [24]:
cd = ['degree_level','degree_major','academic_year']

for col in cd:
    df1[col]=le.fit_transform(df1[col])

In [25]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,4,1,1,1,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,5,0,0,2,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [26]:
df1.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64

In [27]:
cat_cols.remove('stress_relief_activities')

In [28]:
cat_cols

['university',
 'degree_level',
 'degree_major',
 'academic_year',
 'cgpa',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep']

In [29]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,1,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,1,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [30]:
df['gender'].value_counts()

gender
1    63
0    24
Name: count, dtype: int64

In [31]:
for col in cat_cols:
    df[col]=le.fit_transform(df[col])

In [32]:
df.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,1,20,4,1,1,1,4,0,0,3,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,1,20,5,0,0,2,4,0,0,0,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [33]:
df.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64

In [34]:
df1.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,4,1,1,1,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,5,0,0,2,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment

In [35]:
X_train = pd.read_csv('/Users/bhikipallai/Desktop/Projects/Student_Mental_Health/Student_Mental_Health/data/data_preprocessing/X_train_processed.csv')

In [36]:
X_train.head(2)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,average_sleep,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,anxiety,isolation,future_insecurity
0,1,21,4,1,1,1,3,1,1,1,1,3,4,5,3,4,1,1,1
1,0,19,5,1,0,2,4,1,0,3,1,3,5,5,3,3,5,3,5

In [45]:
X_train.nunique()-df1.nunique()

academic_pressure           0.0
academic_workload           0.0
academic_year               0.0
age                         0.0
anxiety                     0.0
average_sleep               0.0
campus_discrimination       0.0
cgpa                        0.0
degree_level                0.0
degree_major                0.0
depression                  NaN
financial_concerns          0.0
future_insecurity           0.0
gender                      0.0
isolation                   0.0
residential_status          0.0
social_relationships        0.0
sports_engagement           0.0
stress_relief_activities    NaN
study_satisfaction          0.0
university                  0.0
dtype: float64

In [2]:
import pandas as pd

In [4]:
X_train = pd.read_csv('/Users/bhikipallai/Desktop/Projects/Student_Mental_Health/Student_Mental_Health/data/data_preprocessing/X_train_processed.csv')
cols = X_train.columns

In [5]:
cols

Index(['gender', 'age', 'university', 'degree_level', 'degree_major',
       'academic_year', 'cgpa', 'residential_status', 'campus_discrimination',
       'sports_engagement', 'average_sleep', 'study_satisfaction',
       'academic_workload ', 'academic_pressure', 'financial_concerns',
       'social_relationships', 'anxiety', 'isolation', 'future_insecurity'],
      dtype='object')

In [6]:
X_train.dtypes

gender                   int64
age                      int64
university               int64
degree_level             int64
degree_major             int64
academic_year            int64
cgpa                     int64
residential_status       int64
campus_discrimination    int64
sports_engagement        int64
average_sleep            int64
study_satisfaction       int64
academic_workload        int64
academic_pressure        int64
financial_concerns       int64
social_relationships     int64
anxiety                  int64
isolation                int64
future_insecurity        int64
dtype: object

In [7]:
data = pd.read_csv("/Users/bhikipallai/Desktop/Projects/Student_Mental_Health/Student_Mental_Health/data/MentalHealthSurvey.csv")

In [8]:
data.nunique()

gender                       2
age                          8
university                   9
degree_level                 2
degree_major                 4
academic_year                4
cgpa                         6
residential_status           2
campus_discrimination        2
sports_engagement            4
average_sleep                3
study_satisfaction           5
academic_workload            4
academic_pressure            5
financial_concerns           5
social_relationships         5
depression                   5
anxiety                      5
isolation                    5
future_insecurity            5
stress_relief_activities    38
dtype: int64

In [10]:
cat_cols=[]
for col in data.columns:
    if data[col].dtype=='object':
        cat_cols.append(col)

In [11]:
cat_cols

['gender',
 'university',
 'degree_level',
 'degree_major',
 'academic_year',
 'cgpa',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep',
 'stress_relief_activities']

In [13]:
# print the unique values present in columns
for catcol in data[cat_cols]:
    print(f"Unique values in {catcol}: {data[catcol].unique()}")

Unique values in gender: ['Male' 'Female']
Unique values in university: ['PU' 'UET' 'FAST' 'COMSATS' 'NUST' 'VU' 'UMT' 'UOL' 'KUST']
Unique values in degree_level: ['Undergraduate' 'Postgraduate']
Unique values in degree_major: ['Data Science' 'Computer Science' 'Software Engineering'
 'Information Technology']
Unique values in academic_year: ['2nd year' '3rd year' '1st year' '4th year']
Unique values in cgpa: ['3.0-3.5' '2.5-3.0' '3.5-4.0' '1.5-2.0' '2.0-2.5' '0.0-0.0']
Unique values in residential_status: ['Off-Campus' 'On-Campus']
Unique values in campus_discrimination: ['No' 'Yes']
Unique values in sports_engagement: ['No Sports' '1-3 times' '7+ times' '4-6 times']
Unique values in average_sleep: ['4-6 hrs' '2-4 hrs' '7-8 hrs']
Unique values in stress_relief_activities: ['Religious Activities, Social Connections, Online Entertainment'
 'Online Entertainment'
 'Religious Activities, Sports and Fitness, Online Entertainment'
 'Social Connections, Online Entertainment'
 'Religious Activities, Social Connections, Online Entertainment, Outdoor Activities'
 'Sports and Fitness' 'Religious Activities, Online Entertainment'
 'Religious Activities, Sports and Fitness, Social Connections, Online Entertainment, Outdoor Activities'
 'Nothing' 'Religious Activities' 'Social Connections'
 'Religious Activities, Creative Outlets, Social Connections'
 'Religious Activities, Social Connections' 'Outdoor Activities'
 'Religious Activities, Creative Outlets'
 'Religious Activities, Online Entertainment, Outdoor Activities'
 'Sports and Fitness, Creative Outlets, Online Entertainment, Outdoor Activities'
 'Religious Activities, Outdoor Activities' 'Sleep'
 'Creative Outlets, Social Connections, Online Entertainment, Outdoor Activities'
 'Creative Outlets'
 'Religious Activities, Sports and Fitness, Social Connections'
 'Religious Activities, Sports and Fitness, Creative Outlets, Online Entertainment'
 'Sports and Fitness, Creative Outlets, Social Connections, Outdoor Activities, Sleep'
 'Religious Activities, Social Connections, Online Entertainment, Sleep'
 'Social Connections, Online Entertainment, Sleep'
 'Religious Activities, Sports and Fitness, Outdoor Activities'
 'Religious Activities, Sports and Fitness'
 'Religious Activities, Sports and Fitness, Social Connections, Online Entertainment, Outdoor Activities, Sleep'
 'Religious Activities, Social Connections, Sleep'
 'Religious Activities, Sports and Fitness, Social Connections, Sleep'
 'Social Connections, Sleep'
 'Religious Activities, Sports and Fitness, Sleep'
 'Creative Outlets, Social Connections, Online Entertainment'
 'Social Connections, Outdoor Activities' 'Online Entertainment, Sleep'
 'Online Entertainment, Outdoor Activities, Sleep'
 'Religious Activities, Sleep']

In [22]:
pdd = pd.read_csv('/Users/bhikipallai/Desktop/Projects/Student_Mental_Health/Student_Mental_Health/data/data_preprocessing/X_train_processed.csv')

In [23]:
pdd.columns

Index(['gender', 'age', 'university', 'degree_level', 'degree_major',
       'academic_year', 'cgpa', 'residential_status', 'campus_discrimination',
       'sports_engagement', 'average_sleep', 'study_satisfaction',
       'academic_workload ', 'academic_pressure', 'financial_concerns',
       'social_relationships', 'anxiety', 'isolation', 'future_insecurity'],
      dtype='object')

In [28]:
pdd['academic_workload'].unique()

KeyError: 'academic_workload'